@import "./variables";
@import "./nav";
@import "./authPage";
@import "./homePage";
@import "./post";
@import "./modal";
@import "./footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.body-main {
  flex-grow: 1;
  background-color: whitesmoke;
  // background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}
